::-webkit-scrollbar {
    width: 7px;
    display: block;
    background-color: #EFF2F5;
    border: none;
    outline: none;
}

 ::-webkit-scrollbar-thumb {
    background: #9477F9;
    display: block;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}


/*-- Welcome Page --*/

.welcome-body {
    background-color: #EFF2F5;
}

.welcome-logo {
    width: 500px;
    height: 500px;
}

.welcome-quotes {
    margin-top: 15%;
    font-weight: bold;
    color: #676767;
}

.welcome-btn {
    margin-top: 20%;
    width: 200px;
    color: #EFF2F5;
    background-color: #9477F9;
    border-radius: 10px;
}

.welcome-btn:hover {
    opacity: 0.8;
}


/*-- Home Page --*/

.phone {
    display: none;
}

.home-body {
    background-color: #BE7EE6;
}

.home-title {
    display: inline-flex;
    position: relative;
    margin-top: 150px;
    margin-left: 200px;
    font-size: 70px;
    color: white;
    font-weight: bold;
}

.home-logo {
    width: 800px;
    height: 800px;
    display: inline;
    z-index: -1;
    margin-right: -200px;
    margin-top: -80px;
    position: absolute;
}

.home-container {
    margin-top: 12%;
    height: 1270px;
    border-radius: 140px 0px 0px 0px;
}

.home-rectangle {
    border-radius: 60px;
    width: 260px;
    height: 260px;
    background-image: url('../img/tong.png');
    background-size: cover;
}

.home-footer {
    background: none;
    outline: none;
    border: none;
    font-size: 30px;
    color: #676767;
    font-weight: bold;
    margin-left: -60px;
}

.home-card {
    border-radius: 35px;
    width: 600px;
    height: 145px;
    background-color: #EFF2F5;
    border: none;
}

.col-sm-2:hover {
    opacity: 0.8;
}

.btn {
    border-radius: 10px;
    font-size: 30px;
    color: #676767;
    border: none;
}

.btn:hover {
    opacity: 0.8;
    color: #676767;
}

.phone {
    display: none;
}

@media screen and (max-width: 776px) {
    body {
        max-width: 100%;
    }
    .desktop {
        display: none;
    }
    .phone {
        display: block;
    }
    .welcome-logo {
        width: 500px;
        height: 500px;
        margin-left: -80px;
    }
    .home-title {
        display: inline-flex;
        position: relative;
        margin-top: 90px;
        margin-left: 10px;
        font-size: 25px;
        color: white;
        font-weight: bold;
    }
    .home-logo {
        width: 240px;
        height: 200px;
        display: inline;
        z-index: -1;
        margin-right: -200px;
        margin-top: -25px;
        position: absolute;
    }
    .home-container {
        margin-top: 8%;
        height: 720px;
        border-radius: 90px 0px 0px 0px;
    }
    .home-rectangle {
        border-radius: 20px;
        width: 80px;
        height: 80px;
        background-image: url('../img/tong.png');
        background-size: cover;
    }
    .home-footer {
        background: none;
        outline: none;
        border: none;
        font-size: 15px;
        color: #676767;
    }
    .home-card {
        border-radius: 20px;
        width: 320px;
        height: 90px;
        background-color: #EFF2F5;
        border: none;
    }
    .col-sm-2:hover {
        opacity: 0.8;
    }
}